<!-- Modal -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="helpModal">How to use FullCalendar:</h4>
      </div>
      <div class="modal-body">
        <h5>Adding events:</h5>
        <p>There are two methods for adding events:</p>
        <ul>
          <li>lol</li>
          <li>help</li>
        </ul>
        <h5>Removing events:</h5>
        <p>There are two methods for removing events:</p>
        <ul>
          <li>lol</li>
          <li>help</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Done!</button>
      </div>
    </div>
  </div>
</div>
