<!-- Modal -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="helpModal">How to use FullCalendar:</h4>
      </div>
      <div class="modal-body">
        <h5>Adding events:</h5>
        <p>There are two methods for adding events:</p>
        <ul>
          <li>You can find an 'Add Event' button right above your calendar in your dashboard, select it and follow the prompts instructions.</li>
          <li>You can also directly select a date on the calendar and you will be prompted to enter data pertaining to the event you will create.</li>
        </ul>
        <h5>Removing events:</h5>
        <p>To remove an event from your calendar:</p>
        <ul>
          <li>Visit the 'Task Panel View' section and select the <i id="delete-ic" class="fa fa-trash" aria-hidden="true"></i> icon.</li>
        </ul>
        <h5>Updating events:</h5>
        <p>To update your calendar and set status to completed:</p>
        <ul>
          <li>Visit the 'Task Panel View' section and select the <i id="update-ic" class="fa fa-check" aria-hidden="true"></i> icon.</li>
        </ul>
        <sub>**Disclaimer: You may need to refresh web pages to see changes on your calendar and 'Task Panel View'.</sub>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Done!</button>
      </div>
    </div>
  </div>
</div>
