<!DOCTYPE html>
<html>

<head>
  <title>P.P.O. Home</title>
  <% include partials/dependencies.ejs %>
  <% include partials/custom.ejs %>
</head>

<body>
  <% include partials/navbar.ejs %>
  <div id="index-bg"></div>
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Welcome</h1>
      <hr class="my-4">
      <p class="lead">To the Personal Project Organizer software home page.</p>
    </div>
  </div>
  <% include partials/footer.ejs %>
</body>

</html>