<!DOCTYPE html>
<html>

<head>
  <title>The P.P.O. Team</title>
  <% include partials/dependencies.ejs %>
  <% include partials/custom.ejs %>
</head>

<body>
  <% include partials/navbar.ejs %>
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Our Team</h1>
      <hr class="my-4">
      <p class="lead">The Personal Project Organizer (P.P.O.) development team.</p>
    </div>
  </div>

  <div id="team-container" class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><u>Alan Barnes</u></h5>

            <!-- ***************************
            ** Information on Alan Barnes **
            *****************************-->
            <p class="card-text">
              Alan is currently a student at University of Illinois Springfield. He is
              persuing his Bachelors Degree in Computer Science and expecting to graduate
              in December of 2020. Alan currently working in automation at a manufacuring facility
              and he holds a great interest in web and database development.

            </p>

          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            <!--
            <li class="list-group-item">Sample #2</li>
            <li class="list-group-item">Sample #3</li>
            -->
          </ul>



          <div class="card-body">
            <a href="#" class="card-link">Sample Link</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><u>Kati Rowe</u></h5>

            <!-- ***************************
            *** Information on Kati Rowe ***
            *****************************-->
            <p class="card-text">
              Kati is currently a student at the University of Illinois Springfield
              pursuing a B.A. in Computer Science, and will be graduating May of 2020.
              Kati currently works on the Strategic Analytics team for Walgreens and is
              interested in advancing her career at Walgreens by utilizing her degree.
            </p>

          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            <!--
            <li class="list-group-item">Sample #2</li>
            <li class="list-group-item">Sample #3</li>
            -->
          </ul>

          <div class="card-body">
            <a href="#" class="card-link">Sample Link</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><u>Ric Dominguez</u></h5>

            <!-- *******************************
            *** Information on Ric Dominguez ***
            *********************************-->
            <p class="card-text">
              Ricardo is currently a student at the University of Springfield, IL.
              He is pursuing a B.A. in Computer Science and will be graduating in May 2020.
              Ricardo will begin a fulltime position at State Farm as a software development
              starting June 2020.
            </p>

          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            <!--
            <li class="list-group-item">Sample #2</li>
            <li class="list-group-item">Sample #3</li>
            -->
          </ul>

          <div class="card-body">
            <a href="#" class="card-link">Sample Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include partials/footer.ejs %>
</body>

</html>
