<!DOCTYPE html>
<html>

<head>
  <title>The P.P.O. Team</title>
  <% include partials/dependencies.ejs %>
  <% include partials/custom.ejs %>
</head>

<body>
  <% include partials/navbar.ejs %>
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Our Team</h1>
      <hr class="my-4">
      <p class="lead">The Personal Project Organizer (P.P.O.) development team.</p>
    </div>
  </div>

  <div id="team-container" class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><u>Alan Barnes</u></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Sample #1</li>
            <li class="list-group-item">Sample #2</li>
            <li class="list-group-item">Sample #3</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Sample Link</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><u>Kati Rowe</u></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Sample #1</li>
            <li class="list-group-item">Sample #2</li>
            <li class="list-group-item">Sample #3</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Sample Link</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><u>Ric Dominguez</u></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Sample #1</li>
            <li class="list-group-item">Sample #2</li>
            <li class="list-group-item">Sample #3</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Sample Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include partials/footer.ejs %>
</body>

</html>