<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="images/ppo-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Personal Project Organizer
  </a>
  <ul class="navbar-nav list-group-horizontal">
    <li class="nav-item list-inline-item">
      <a class="nav-link" href="about">About the Software</a>
    </li>
    <li class="nav-item list-inline-item">
      <a class="nav-link" href="our-team">Our Team</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto list-group-horizontal">
    <li class="nav-item list-inline-item">
      <a href="signup" role="button" class="btn btn-outline-success">Log In</a>
    </li>
    <li class="nav-item list-inline-item">
      <a href="signup" role="button" class="btn btn-outline-warning">Sign Up</a>
    </li>
  </ul>
</nav>
