/* Applied to: all pages */
button:focus {
  outline: none;
}

/* Applied to: index.ejs */
#index-bg {
  padding: 200px 0px;
  background: url(/images/index-bg.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.jumbotron {
  margin-bottom: 0px;
}

/* Applied to: our-team.ejs */
#team-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Applied to: all alerts */
.alert {
  margin-bottom: 0px;
}